@font-face {
  font-family: "Octarine";
  src: url(../font/octarine-cufonfonts/Octarine-Light.otf);
}

@font-face {
  font-family: "Cormorant";
  src: url(../font/Cormorant-VariableFont_wght.ttf);
}

body {
  font-family: "Octarine";
}

header,
footer {
  padding: 16px 24px;
}

.section {
  padding: 117px 188px;
}

@media screen and (max-width: 1023px) {
  .section {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 30px 30px;
  }
}

footer {
  background-color: #000000;
  background-size: contain;
}

.header {
  background-color: #000000;
  background-size: contain;
}

.nav-link__font {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.32px;
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
  transition: 1s;
  opacity: 0.6;
}

.nav-link {
  padding-right: 0;
}

/*about*/
.about {
  background: url(../img/About.svg), #0a021b;
  background-size: 100%;
  background-repeat: no-repeat;
}

.about__padding {
  padding-top: 160px;
}

@media screen and (max-width: 767px) {
  .about {
    background-size: cover;
  }
}

.about__header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.38px;
}
.about__description {
  opacity: 0.9;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.32px;
}

.btn__white {
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  align-items: center;
  letter-spacing: -0.078px;
  color: #0a021b;
}

.btn__white:hover {
  opacity: 0.6;
  transition: 2s;
}

.btn__pink {
  background: #f4b0c2;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.32px;
  color: #0a021b;
}

.btn__pink:hover {
  background: #f4b0c2;
  opacity: 0.6;
  transition: 2s;
}



/* collectorPass */
.collectorPass {
  background: url(../img/CollectorPass.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.collectorPass__description {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.38px;
}

.collectorPass__list {
  list-style-type: "– ";
}

.btn__violet {
  background-color: #0a021b;
  color: white;
}

.btn__violet:hover {
  opacity: 0.6;
  transition: 2s;
}

@media screen and (max-width: 767px) {
.circle__type_hidden {
  display: none;
}
}

/* roadMap */
.roadMap {
  background: url(../img/Rectangle.svg), #0a021b;
  background-size: cover;
  background-repeat: no-repeat;
}

.roadMap__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.roadMap__box {
  box-shadow: 0px 0px 10px 5px rgba(244, 176, 194, 0.31);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(244, 176, 194, 0.31);
  -moz-box-shadow: 0px 0px 10px 5px rgba(244, 176, 194, 0.31);
  border-radius: 11px;
  background-color: #0a021b;
}

.roadMap__row {
  background-color: #0a021b;
  border-radius: 8px;
  opacity: 0.9;
  padding: 52px 138px;
}

@media screen and (max-width: 1023px) {
  .roadMap__row {
    padding: 30px 80px;
  }
}

@media screen and (max-width: 767px) {
  .roadMap__row {
    padding: 10px 10px;
  }
}

@font-face {
  font-family: "Cormorant";
  src: url(../font/Cormorant-VariableFont_wght.ttf);
}

.text_type_pink {
  color: #f4b0c2;
}

.input__color {
  background-color: #ffdee4;
}

/* contact */
.contact__header {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #212529;
}

.contact__form {
  background-color: #0a021b;
}

.form__placeholder {
  font-weight: 400;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #212529;
}

.btn__form {
  width: 100%;
}

.contact {
  padding-top: 56px;
  padding-bottom: 56px;
}

.input__color {
  background-color: #ffdee4;
}

.checkbox__color {
  background-color: #ffdee4;
}

.checkbox__color:checked {
  background-color: #f4b0c2;
}

/* artistApplication */
.application {
  padding-top: 72px;
  padding-bottom: 72px;
}
.artistApplication__img {
  height: 98px;
  width: 87px;
}

.artistApplication__logo {
  width: 236px;
  height: 51px;
}

.artistApplication__form {
  background: rgba(244, 176, 194, 0.2);
  max-width: 846px;
  padding: 87px 108px;
}

@media screen and (max-width: 1023px) {
  .artistApplication__form {
    padding: 50px 80px;
  }
}

@media screen and (max-width: 767px) {
  .artistApplication__form {
    padding: 50px 30px;
  }
}

.form__header {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.btn__header {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.32px;
  color: #f4b0c2;
  text-decoration: none;
}

.btn__header:hover {
  color: #f4b0c2;
  text-decoration: none;
  opacity: 0.6;
  transition: 2s;
}

/* WhitelistApplication */
.input-group__size {
  width: 155px;
}

